<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Ordering Burgers</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="./css/style.css">
        <script src="https://vuejs.org/js/vue.js"></script>
        <script type="text/javascript" src="js/menu.js"></script>
        <script src="js/js_script.js" defer></script>
        <script src="js/vue_script.js" defer></script>
        
        <link rel="stylesheet" href="css/deli-very.css">
        <script src="/vue/vue.js" defer></script>
        
    </head>
    <body>
        <main>
            <header>
                <h1>Välkommen till BurgerOnline</h1>
                <img src="https://previews.123rf.com/images/asakosakura/asakosakura1406/asakosakura140600047/29416588-seamless-avec-des-hamburgers-de-style-de-bande-dessin%C3%A9e-sur-un-ant%C3%A9c%C3%A9dent-jaune.jpg" alt="span" title="hamburger background" id="headerbg">
            </header>
            <section id="burgerinfo">
                <h2>Välj hamburgare</h2>
                <p>Här väljer du vilker hamburgare du vill ha.</p>
                
                <div id="wrapper">
                    <div class="box" v-for="burger in burgers" v-if="burger.allergy">
                        <p> {{ burger.name}} </p>
                        <input type="checkbox" name="userBurger" v-bind:value="burger.name" />
                        <img v-bind:src="burger.imgPath">
                        Innehåll: {{ burger.ingredients }} <br>
                        Kcal: {{ burger.kcal }} <br>
                        Allergi: {{ burger.allergy }}
                    </div>
                    <div class="box" v-else>
                        <p> {{ burger.name}} </p>
                        <img v-bind:src="burger.imgPath">
                        Innehåll: {{ burger.ingredients }} <br>
                        Kcal: {{ burger.kcal }} <br>
                    </div>
                    <!--
                    <div class="box a">
                        <p>The Void Burger</p>
                        <img src="https://previews.123rf.com/images/ha4ipuri/ha4ipuri1806/ha4ipuri180600022/103956150-hamburger-bread-or-bun-without-anything-isolated-on-white-background-clipping-path.jpg" alt="span" title="An empty burger" width="300" height="300">
                        <dl>
                            <dt>Innehåll:</dt>
                                <dd>Bröd</dd>
                                    <dt>Näringsvärde:</dt>
                                <dd>60 kcal</dd>
                                    <dt>Allergier:</dt>
                                <dd>Brödet innehåller <span class="allergy">gluten</span></dd>
                        </dl>
                    </div>
                    <div class="box b">
                        <p>The Cheese Burger</p>
                        <img src="https://p7.hiclipart.com/preview/520/119/677/french-fries-cheeseburger-whopper-buffalo-burger-hamburger-big-burger.jpg" alt="span" title="A cheese burger" width="300" height="300"> 
                        <dl>
                            <dt>Innehåll:</dt>
                                <dd>Bröd</dd>
                                <dd>90g Nötfärsburgare</dd>
                                <dd>Ost</dd>
                                <dd>Sallad, tomat, gurka</dd>
                                <dd>Hamburgare dressing</dd>        
                            <dt>Näringsvärde:</dt>
                                <dd>450 kcal</dd>
                            <dt>Allergier:</dt>
                                <dd>Brödet innehåller <span class="allergy">gluten</span></dd>
                                <dd>Osten innehåller <span class="allergy">laktose</span></dd>
                        </dl>
                    </div>
                    <div class="box c">
                        <p>The Extra Meat-burger</p>
                        <img src="http://www.bigkitchenafrica.com/imgs/DSC_1303png2.png" alt="span" title="a burger with extra meat" width="300" height="300">
                        <dl>
                            <dt>Innehåll:</dt>
                                <dd>Bröd</dd>
                                <dd>2st 90g Nötfärsburgare</dd>
                                <dd>Tomat, gurka</dd>
                                <dd>BBQ sås</dd>
                                <br>                        
                            <dt>Näringsvärde:</dt>
                                <dd>640 kcal</dd>
                            <dt>Allergier:</dt>
                                <dd>Brödet innehåller <span class="allergy">gluten</span></dd>
                                <dd>Osten innehåller <span class="allergy">laktose</span></dd>
                        </dl>
                    </div>
                </div>
                -->
                </div>
            </section>
            <section id="kundinfo">
                <section id="contact">
                    <h2>Kundinformation</h2>
                    <p>Här fyller du i nödvändig information om dig själv.</p>
                    <h3>Leveransinformation</h3>
                    <form id="orders">
                        <p>
                            <label for="fullname">Fullständigt namn</label><br>
                            <input type="text" id="fullname" name="fn" required="required" placeholder="För- och efter namn"  v-model="fullname"/>
                        </p>
                        <p>
                            <label for="email">E-mail</label><br>
                            <input type="email" id="email" name="em" required="required" placeholder="E-mail adress" v-model="email"/>
                        </p>
                        <p>
                            <label for="street">Gatunamn</label><br>
                            <input type="text" id="street" name="st" required="required" placeholder="Gatunamn" v-model="street"/>
                        </p>
                        <p>
                            <label for="street">Husnr.</label><br>
                            <input type="number" id="street1" name="st" required="required" placeholder="Husnr" v-model="street1"/>
                        </p>
                    
              
                        <p>
                            <label for="payment">Betalningsalternativ</label><br>
                            <select  v-model="selected" id="selected" name="pmt">
                                <option selected="selected">Visa</option>
                                <option>Mastercard</option>
                                <option>Amex Black Card</option>
                                <option>Kontant</option>
                            </select>
                        </p>
                
                
                        <p>
                            <label for="gender">Kön</label><br>
                            <input type="radio" name="gender" id="male" value="male" checked="checked" v-model="gender"> <label for="male">Man</label><br>
                            <input type="radio" name="gender" id="female" value="female" v-model="gender"><label for="female">Kvinna</label><br>
                            <input type="radio" name="gender" id="non-binear" value="non-binear" v-model="gender"><label for="non-binear">Icke-binär</label><br>
                            <input type="radio" name="gender" id="other" value="other" v-model="gender"><label for="other">Annat</label><br>
                        </p>
                    </form>
                    
                    <button v-on:click="markDone()" id="order" type="submit"><img src="https://cdn3.iconfinder.com/data/icons/social-network-actions/100/social-buttons-go-10-512.png" width="10" height="10"/>Skicka beställning</button>
                    {{ info }}
                </section>
            </section>    
        </main>
        <footer><p align="center">copyright by Andreas</p></footer>
    </body>
</html>
