<!DOCTYPE html>
<html lang="en">
  <head>
    <title>shareInfo</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="./css/user.css">
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="https://vuejs.org/js/vue.js"></script>
    <script src="/js/profile.js" defer></script>
    <script src="/js/profile_vue.js" defer></script>
    <script type="text/javascript" src="js/menu.js"></script> 
  </head>
  <body>
    
    <main id="main">
      
      <div id="shareInfoHeader">
        Vilka vill du fortsätta ha kontakt med?
      </div>
      <div id="contacts">
        <div class="contactBlock" v-for="(date,index) in currentUser.allDates">
          <img id="contactPicture" :src="date.picture">
          
          <div id="contactsInfo">
            <span id="contactName">{{ date.name }} </span> <br/>            
            <span class="italic">
              <input type="checkbox" :name="date" :value="date" id="chosenDate" v-model="contacts">
          </div>
        </div>
      </div>
      <div id="shareInfoButtonDiv">
        <button id="shareInfoButton" v-on:click="shareContact()"> Skicka </button>
      </div>
      {{currentUser}}
    </main>
  </body>
</html>
