<!DOCTYPE html>
<html lang="en">
  <head>
    <title>User page</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="./css/user.css">
    <script src="https://vuejs.org/js/vue.js"></script>
    <script src="/js/profile.js" defer></script>
    <script src="/js/profile_vue.js" defer></script>
    <script type="text/javascript" src="js/menu.js"></script> 
  </head>
  <body>
    <!-- User profile-page -->
    <main>
      <div id="profilePicture">
        <img :src="profile.picture">
      </div>
      
      <div id="profileInfo">
        <h2 id="profileHeading">{{profile.name}}, {{profile.age}} </h2>              
        <p class="profileText">Bor i
          <span v-if="!editMode" class="bold"> {{profileLocation}} </span>
          <input v-if="editMode" id="editLocation" type="text" v-model="profileLocation"> 
        </p>
        <a href="user-contacts">
          <button id="contactsButton" class="profileButtons"> Kontakter </button>
        </a>
        <button id="editProfileButton" class="profileButtons" v-on:click="editProfile()">
          {{editButtonText}}
        </button>
        <button id="changeProfilePicture" class="profileButtons" v-if="myProfile && editMode">
          Byt profilbild
        </button>
        <a href="login">
          <button id="logoutButton" class="profileButtons">
            Logga ut
          </button>
        </a>
        <br/>
        <div v-if="!editMode" id="description" class="description">{{profileDesc}}</div>
        <textarea v-if="editMode" id="editDescription" type="text" v-model="profileDesc"></textarea>
      </div>
      <div class="footer">
        <a href="/toMeet">
          <button id="backButton"> Speeddate </button>
        </a>
      </div>

    </main>
  </body>
</html>
