#grid {
    display: grid;
    grid-gap: 3%;
    grid-template-columns: 21% 31% 42%;
    grid-template-rows: 40% 260% 40%;
}

.a {
    grid-column: 1 / span 3;
    text-align: center;
    background-color: red;
}

.matches {
    grid-column: 1 / span 2;
    text-align: center;
    background-color: green;
    padding: 10px;
} 


.c {
    grid-column: 3;
    text-align: center;
    background-color: blue;
}

.d {
    grid-column: 1 / span 3;
    text-align: center;
    background-color: yellow;
}

.buttons {
    height: 60%;
    width: 20%;
    margin: 0% 0% 0% 10%;
    float: left;
    background-color: aqua;
}

#usergrid {
    display: grid;
    grid-gap: 10px;
}

.matchline {
    display: grid;
    grid-gap: 10px;
}

.userbox {
    width: 100%;
    text-align: left;
    background-color: blue
}

.userbox-left {
    grid-column: 1
}

.userbox-right {
    grid-column: 2
}
