#grid {
    display: grid;
    grid-gap: 3%;
    grid-template-columns: 21% 31% 42%;
    grid-template-rows: 40% 260% 40%;
}

.a {
    grid-column: 1 / span 3;
    text-align: center;
    background-color: red;
}

.matches {
    grid-column: 1 / span 2;
    text-align: center;
    background-color: green;
    padding: 1vh;
} 


.c {
    grid-column: 3;
    text-align: center;
    background-color: blue;
}

.d {
    grid-column: 1 / span 3;
    text-align: center;
    background-color: yellow;
}

.buttons {
    height: 60%;
    width: 20%;
    margin: 0% 0% 0% 10%;
    float: left;
    background-color: aqua;
}

#usergrid {
    display: grid;
    grid-gap: 1vh;
}

.matchline {
    max-width: 100%;
    max-height: 100%;
    display: grid;
    grid-gap: 1vh;
    
    overflow: hidden;
}

.userbox {
    width: 100%;
    height: 6vh;
    min-height: 2em;
    background-color: blue;
    vertical-align: middle;
    box-sizing: border-box;
    display: table-cell;
    padding: 10px;
}

.userbox-img-div {
    max-height: 100%;
}

.userbox:after {
    content: "";
    display: block;
    clear: both;
}

.userbox-image {
    float: left;
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
    margin: auto;
    padding: auto;
}

.userbox-name {
    text-align: left;
}

.userbox-left {
    grid-column: 1;
    max-width: 100%;
}

.userbox-right {
    grid-column: 2;
    max-width: 100%;
}
