body {
    margin: 1% auto;
}

input {
    border: 1px solid black;
    border-radius: 10px;
}

/** Fonts **/
h1 {
    font-family: Arvo; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 300; line-height: 26.4px;
}


h3 {
    font-family: Arvo; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 15.4px;
}


#timer {
    font-family: Arvo; font-size: 18px; font-style: normal; font-variant: normal; font-weight: 280; line-height: 30px;
}


p {
    font-family: Arvo; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px;
}


.progressBubble, .buttons  {
    font-family: Arvo; font-size: 18px; font-style: bold; font-variant: normal; font-weight: 400; line-height: 75px;
}

/****/

#grid {
    display: grid;
    grid-gap: 3%;
    grid-template-columns: 21% 31% 42%;
    grid-template-rows: 40% 110% 40%;
}

.a {
    grid-column: 1 / span 3;
    text-align: center;
}

.b {
    grid-column: 1 / span 2;
    text-align: center;
    
    border: 2px solid black;
    border-radius: 30px;
    box-shadow: 0px 0px 1px 1px grey;
    margin-left: 20px;
    padding: 10px;
} 

.c {
    grid-column: 3;
    text-align: center;
    
    border: 2px solid black;
    border-radius: 30px;
    box-shadow: 0px 0px 1px 1px grey;
    margin-right: 50px;
    margin-bottom: 10px;
}

.d {
    grid-column: 1 / span 3;
    text-align: center;
}

.buttons {
    height: 40%;
    width: 10%;
    margin: 0% 0% 0% 17%;
    padding-top: 1%;
    float: left;
    background-color: white;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 0px 0px 1px 2px grey;
}

.buttons:hover {
    background-color: white;
    padding-top: 10px;
    box-shadow: inset 0px 0px 6px black;
}

#progressLine {
    width: 100%;
    z-index: -1;
    margin-top: 1.5em;
    border: 1px solid black;
    position: absolute;
}

.progressBubble {
    height: 50%;
    width: 10%;
    background-color: white;
    margin: 0em 0% 0% 8%;
    padding-top: 1%;
    border-radius: 50%;
    border: 1px solid black;
    box-shadow: 0px 0px 1px 1px grey;
    float: left;
}


/** Grid in matchpanel (.b) **/

#matchPanelGrid {
    display: grid;
    grid-gap: 3%;
    grid-template-columns: 40% 10% 40%;
    grid-template-rows: 1500%;
    margin-left: 20px;
}

#unmatchedGrid {
    grid-gap: 3%;
    grid-template-columns: 40% 10% 40%;
    grid-template-rows: 1500%;
    width: 40%;
    
    background-color: lightgray;
    border-radius: 10px;
    padding: 10px;
    min-height: 3em;
    max-width: 40%;
    margin: 40px auto 10px auto;
}


.col1 {
    grid-column: 1;
    background-color: orange;
}


.col2 {
    grid-column: 2;
    background-color: purple;
}


.col3 {
    grid-column: 3;
    background-color: yellow;
}

.unmatched-col {
    background-color: gray;
    margin-bottom: 5px;
}

/** Infopanel **/

#timer {
    margin-top: 10px;
    size: 200%;
}

#info {
    text-align: center;
    padding-left: 45px;
    width: 80%;

}


[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}

.profile-pic {
    max-height: 100%;
    float: left;
}

.column {
    height: 3em;
    max-height: 3em;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 2px 2px 3px grey;
    cursor: move;
    box-sizing: border-box;
}

.column:hover {
    filter: brightness(85%);
}

.column-child {
    pointer-events: none;
}
