body {
    margin: 1% auto;
}

#grid {
    display: grid;
    grid-gap: 3%;
    grid-template-columns: 21% 31% 42%;
    grid-template-rows: 40% 260% 40%;
}

.box {
	overflow: scroll;
}

.a {
    grid-column: 1 / span 3;
    text-align: center;
}

.b {
    grid-column: 1 / span 2;
    text-align: center;
    
    border: 2px solid black;
    border-radius: 30px;
    margin-left: 20px;
	padding-top: 10%;
} 

.c {
    grid-column: 3;
    text-align: center;
    background-color: blue;
    border: 2px solid black;
    border-radius: 30px;
    margin-left: 20px;
}

.d {
    grid-column: 1 / span 3;
    text-align: center;
}

.buttons {
    height: 70%;
    width: 10%;
    margin: 0% 0% 0% 17%;
    padding-top: 1%;
    float: left;
    background-color: white;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 0px 0px 1px 2px grey;
}

.buttons:hover {
    background-color: white;
    padding-top: 10px;
    box-shadow: inset 0px 0px 6px black;
}

#progressLine {
    width: 100%;
    z-index: -1;
    margin-top: 1.5em;
    border: 1px solid black;
    position: absolute;
}

.progressBubble {
    height: 60%;
    width: 10%;
    background-color: white;
    margin: 0em 0% 0% 8%;
    padding-top: 1%;
    border-radius: 50%;
    border: 1px solid black;
    float: left;
}


/** Grid in matchpanel (.b) **/

#matchPanelGrid {
    display: grid;
    grid-gap: 3%;
    grid-template-columns: 40% 10% 40%;
    grid-template-rows: 2300%;
    margin-left: 20px;
}


.col1 {
    grid-column: 1;
    text-align: center;
    background-color: orange;
}


.col2 {
    grid-column: 2;
    text-align: center;
    background-color: purple;
}


.col3 {
    grid-column: 3;
    text-align: center;
    background-color: yellow;
}

/** Unmatch panel **/

#unmatchPanel {
    display: none;
}

.tab {
	position: absolute;
	text-align: center;
    height: 10%;
    width: 10%;
    z-index: 2;
    border: 2px solid black;
    background-color: white;
}

.matchTab {
    border-bottom: none;
	margin: 4% 0% 0% 1.55%;
}

.unmatchTab {
    margin: 4% 0% 0% 11.68%;
	background-color: whitesmoke;
}

.hidden {
	width: 32.82%;
	height: 7.45%;
	margin: 5.45% 0% 0% 21.9%;
	border-top-right-radius: 30px; 
	border-top: none;
	border-right: none;
	backface-visibility: hidden;
	background-color: white;
}

/*
#unmatchProfiles {
	display: grid;
	grid-gap: 3%;
    grid-template-columns: 10em;
	height: 100%;
	margin-left: 10%;
}
*/

#unmatchPanelGrid {
    display: grid;
    grid-gap: 3%;
    grid-template-columns: 80%;
    grid-template-rows: 2300%;
    margin-left: 15%;
}

.col4 {
	grid-column: 1;
	background-color: cornflowerblue;
}








