body {
    margin: 1% auto;
}

input {
    border: 1px solid black;
    border-radius: 10px;
}

/** Fonts **/
h1 {
    font-family: Arvo; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 300; line-height: 26.4px;
}

h2 {
    font-family: Arvo; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 300; line-height: 26.4px;
}

h3 {
    font-family: Arvo; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 15.4px;
}


#timer {
    font-family: Arvo; font-size: 18px; font-style: normal; font-variant: normal; font-weight: 280; line-height: 30px;
}


p {
    font-family: Arvo; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px;
}


.progressBubble, .buttons  {
    font-family: Arvo; font-size: 18px; font-style: bold; font-variant: normal; font-weight: 400; line-height: 75px;
}

/****/

#grid {
    display: grid;
    grid-gap: 3%;
    grid-template-columns: 21% 31% 42%;
    grid-template-rows: 10% 100%;
}

.a {
    grid-column: 1 / span 3;
    text-align: center;
}

.b {
    grid-column: 1 / span 2;
    text-align: center;
    max-height: 90%;
    border: 2px solid black;
    border-radius: 40px;
    box-shadow: 0px 0px 1px 1px grey;
    margin-left: 20px;
    padding: 10px;
	overflow: scroll;
} 

.c {
    grid-column: 3;
    text-align: center;
    max-height: 93%;
    border: 2px solid black;
    border-radius: 40px;
    box-shadow: 0px 0px 1px 1px grey;
    margin-right: 50px;
    margin-bottom: 10px;
}

.d {
    grid-column: 1 / span 3;
    text-align: center;
}

.buttons {
    height: 10%;
    width: 25%;
    margin: 20% 0% 0% 17%;
    padding-top: 0%;
    float: left;
    background-color: white;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 0px 0px 1px 2px grey;
}

#reset {
	margin-top: 0%;
	margin-left: 37%;
}

.buttons:hover {
    background-color: white;
    padding-top: 10px;
    box-shadow: inset 0px 0px 6px black;
}

#progressLine {
    width: 100%;
    z-index: -1;
    margin-top: 1.5em;
    border: 1px solid black;
    position: absolute;
}

.progressBubble {
    max-height: 50%;
    width: 10%;
    background-color: white;
    margin: 0em 0% 0% 8%;
    padding-bottom: 2.3%;
    border-radius: 50%;
    border: 1px solid black;
    box-shadow: 0px 0px 1px 1px grey;
    float: left;
}


/** Grid in matchpanel (.b) **/

#matchPanelGrid {
    display: grid;
    grid-gap: 3%;
    grid-template-columns: 40% 10% 40%;
    margin-left: 20px;
	overflow: scroll;
}

#unmatchedGrid {
    grid-gap: 3%;
    grid-template-columns: 40% 10% 40%;
    grid-template-rows: 1500%;
    width: 40%;
    
    background-color: lightgray;
    border-radius: 10px;
    padding: 10px;
    min-height: 3em;
	max-height: 10em;
    max-width: 40%;
    margin: 0px auto 10px auto;
	overflow: scroll;
}


.col1 {
    grid-column: 1;
    background-color: orange;
}

/** Hearts **/
.col2 {
    grid-column: 2;
    background-color: red;
    display: inline-block;
    height: 15px;
    margin: 17px 25px;
    position: relative;
    top: 0;
    transform: rotate(-45deg);
    width: 15px;
}

.col2:before, .col2:after {
  content: "";
  background-color: red;
  border-radius: 50%;
  height: 15px;
  position: absolute;
  width: 15px;
  
}

.col2:before {
  top: -7.5px;
  left: 0;
}

.col2:after {
  left: 7.5px;
  top: 0;
}

/****/

.col3 {
    grid-column: 3;
    background-color: yellow;
}

.unmatched-col {
    background-color: gray;
    margin-bottom: 5px;
}

/** Infopanel **/

#timer {
    margin-top: 10px;
    size: 200%;
}

#info {
    text-align: center;
    padding-left: 45px;
    width: 80%;

}


[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}

.profile-pic {
    max-height: 100%;
    float: left;
}

.column {
    height: 3em;
    max-height: 3em;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 2px 2px 3px grey;
    cursor: move;
    box-sizing: border-box;
}

.column:hover {
    filter: brightness(85%);
}

.column-child {
    pointer-events: none;
}

#tableLayout{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    max-width: 90%;
    height: 30%;
    margin: 5%;
    padding: 2%;
    border: 1px solid;
    text-align: center;
    border-radius: 5px;
    justify-items: center;
    align-items: center;
}

.table {
    background-color: red;
    width: 40px;
    height: 30px;
    max-height: 40px;
    margin: 5%;
    border-radius: 2px;
    text-align: center;
    padding-top: 10px;
}
