body {
    margin: auto;
}

#grid {
    display: grid;
    grid-gap: 3%;
    grid-template-columns: 21% 31% 42%;
    grid-template-rows: 40% 260% 40%;
}

.a {
    grid-column: 1 / span 3;
    text-align: center;
}

.b {
    grid-column: 1 / span 2;
    text-align: center;
    
    border: 2px solid black;
    border-radius: 30px;
    margin-left: 20px;
} 

.c {
    grid-column: 3;
    text-align: center;
    background-color: blue;
}

.d {
    grid-column: 1 / span 3;
    text-align: center;
    background-color: yellow;    

}

.buttons {
    height: 70%;
    width: 10%;
    margin: 0% 0% 0% 17%;
    padding-top: 1%;
    float: left;
    background-color: white;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 0px 0px 1px 2px grey;
}

.buttons:hover {
    background-color: white;
    padding-top: 10px;
    box-shadow: inset 0px 0px 6px black;
}

#progressLine {
    width: 100%;
    z-index: -1;
    margin-top: 1.5em;
    border: 1px solid black;
    position: absolute;
}

.progressBubble {
    height: 60%;
    width: 10%;
    background-color: white;
    margin: 0em 0% 0% 8%;
    padding-top: 1%;
    border-radius: 50%;
    border: 1px solid black;
    float: left;
}


/** Grid in matchpanel (.b) **/
/*.user, .heart  {
    height: 80%;
    width: 20%;
    margin: 0% 0% 0% 10%;
    float: left;
    background-color: aqua;
}
*/

#matchPanelGrid {
    display: grid;
    grid-gap: 3%;
    grid-template-columns: 40% 10% 40%;
    grid-template-rows: 2300%;
    margin-left: 20px;
}


.col1 {
    grid-column: 1;
    text-align: center;
    background-color: orange;
}


.col2 {
    grid-column: 2;
    text-align: center;
    background-color: purple;
}


.col3 {
    grid-column: 3;
    text-align: center;
    background-color: yellow;
}








