

main {
    max-width: 414px;
    max-height: 736px;
}
body {
    display: contents;
    text-align: left;
    overflow: hidden;
    font-family: "Arial", Helvetica, sans-serif;

}       
#profilePicture {
    height: auto;
    width: 100%;
}
#profileInfo {
    margin: 0vw 5vw;
    margin-bottom: 0.5em;
}
#profileQuestions {
    widht: auto;
    margin: 0 5vw;
}
#profileHeading {
    margin: 0vw 0vw;
}   
#profilePicture > img{
    height: 100%;
    width: 100%;
}
.profileText {
    height: 20px;
    margin: 1% 0%;
}
.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
}
.questionLabel {
    margin-top: 10%;
}
.radioInline {
    width: 20%;
    float: left;
    text-align: center;
    margin: 1% 0;
}
#placementQuestion{
    padding-top: 2.2em;
    /text-align: center;
}
#inputPlacementQuestion {
    width: 80%;
}
#profileQuestionsButton {
    text-align: center;
    padding: 0.5em;
}
.profileButtons {
    background: none;
    border: none;
    font-weight: bold;
    text-decoration: underline;
    text-align: left;
    padding-left: 0;
    padding-down: 0;
    font-size: 1em;
}
#createNewProfileButton {
    background: none;
    border: none;
    font-weight: bold;
    text-decoration: underline;
    
}
.profileButtons:hover {
    cursor: pointer;
}
.description {
    margin: 1vw 0;;
}
#editDescription {
    width: 98%;
    height: 150px;
    resize: none;
    font-size: 1em;
}
#editLocation {
    margin: 0;
}
#contacts {
    padding-bottom: 1.5em;
}
.contactBlock {
    display: grid;
    grid-template-columns: 90px 70%;
    grid-column-gap: 0;
    margin: 5vw 5vw;
    padding: 1% 1%;
    border-radius: 10px;
    vertical-align: middle;
    height: auto;
    background-color: LightGray;
}
#contactPicture {
    border-radius: 5px;
    margin: 1vw 1vw;
    height: 80px;
    width: 80px;
}

#contactsInfo {
    margin-left: 0;
    height: 100%;
}
#contactName {
    font-size: 1em;
    font-weight: bold;
}

#SDButton {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 0.5em;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    
}
#backButton {
    transform: scale(1.3);
    margin-top: 18em;
    font-size: 1em;
    margin-bottom: 0.5em;
    border-radius: 5px;
}
#backButton:hover {
    cursor: pointer;
}
#foundButton {
    font-size: 1em;
    margin-bottom: 1em;
    border-radius: 5px;
}
#foundButton:hover {
    cursor: pointer;
}
#foundButtonWrapper{
    text-align: center;
}
#login {
    text-align: center;
    margin: 50% 5vw;
    background-color: LightGray;
    border-radius: 10px;
}
#createProfileBox{
    text-align: center;
    margin: 5vw 5vw;
    background-color: LightGray;
    border-radius: 10px;
}
#loginData{
    padding: 5vw 0vw;
}
#loginInfo{
    display: none;
}
#descriptionTextarea{
    width: 90%;
    height: 130px;
    resize: none;
    font-size: 1em;
    border-radius: 5px;
    margin: 2vw 0;
}
.inputText {
    /border-radius: 2px;
    margin: 1vw 0;
    width: 160px;
    text-align: center;
}
#createProfileButton{
    padding: 1.5vw 1.5vw;
}
#createProfileData{
    padding: 5vw 0vw; 
}

#tableMap{
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    text-align: center;
    background: rgba(0,0,0,.4);
}
#tableLayout{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    background-color: white;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 80%;
    height: 80%;
    padding: 2%;
    margin: 10%;
    border: 1px solid;
    text-align: center;
    border-radius: 5px;
    justify-items: center;
    align-items: center;
}

#tableMapCloseButton{
    border: 1px solid;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    top: 5%;
    right: 8%;
    text-align: center;
    line-height: 100%;
    font-size: 1.8em;
    height: 1em;
    width: 1em;
    background-color: white;
}
.table {
    background-color: red;
    width: 40px;
    height: 30px;
    max-height: 40px;
    margin: 5%;
    border-radius: 2px;
    text-align: center;
    padding-top: 10px;
}
.wrapper {
     display: grid;
     grid-gap: 1.5em;
     grid-template-columns: 48em;
     padding: 1% 1%;
     border-radius: 10px;
     vertical-align: middle;
     margin: 5vw 5vm;
     height: 10%;
     margin-top: 1em;
     margin-left: 0.5em;
     margin-right: 0.5em;
 }

 .box {
     background-color: #A9A9A9;
     color: #fff;
 }

.profile-pic {
    width: 200px;
    height: 200px;
    float: left;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

#profileBlock {
    background-color: LightGray;
    border-radius: 25px;
}

#profileBlock:hover {
    background-color: #808080;
}

#dateName {
    padding-top: 15px;
    padding-left: 30%;
    
    //Font style
    font-family: Arvo;
    font-size: 45px;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    line-height: 26.4px;
}

#dateInfo {
    padding-top: 10px;
    padding-left: 30%;

    //Font style
    font-family: Arvo;
    font-size: 25px;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    line-height: 26.4px;
}

#dateDescription {

    padding-top: 10px;
    padding-left: 30%;

    //Font style
    font-family: Arvo;
    font-size: 25px;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    line-height: 26.4px;
}

#shareInfoTitle {
    width: 800px;
    padding-top: 10%;
    text-align: center;
    
    
    //Font style
    font-family: Arvo;
    font-size: 45px;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    line-height: 26.4px;
}

#chosenDate {
    transform: scale(3);
    float: right;
    margin-right: 40px;

}

#finishButton {
    transform: scale(1.5);
    margin-top: 18em;
    margin-left: 12em;
    width: 100px;
    height: 50px;
    border-radius: 5px;

    //Font style
    font-family: Arvo;
    font-size: 30px;
    font-style: normal;
    font-variant: normal;
}
#email{
    margin-left: 10px;
    
    //Font style
    font-family: Arvo;
    font-size: 40px;
    font-style: normal;
    font-variant: normal;
}

#contactName {
    margin-left: 10px;
    
    //Font style
    font-family: Arvo;
    font-size: 50px;
    font-style: normal;
    font-variant: normal;
} 

#lastPageText {
    padding-left: 14px;
    //Font style
    text-align: center;
    font-family: Arvo;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
}

#toProfileButton {
    transform: scale(1.1);
    margin-top: 20%;
    margin-left: 30%;
    font-size: 1em;
    margin-bottom: 0.5em;
    border-radius: 5px;
}


#backToShareInfo {
    transform: scale(1.1);
    margin-top: 5%;
    margin-left: 35%;
    font-size: 1em;
    margin-bottom: 0.5em;
    border-radius: 5px;
}

