body {
    display: none;
}

@media only screen and (max-width: 600px) {
    body {
        display: contents;
        text-align: left;
        overflow: hidden;
    }       
    #profilePicture {
        height: auto;
        width: 100%;
    }
    #profileInfo {
        margin: 0vw 5vw;        
    }
    #profileQuestions {
        widht: auto;
        margin: 0 5vw;
    }
    #profileHeading {
        margin: 0vw 0vw;
    }   
    #profilePicture > img {
        height: 100%;
        width: 100%;
    }
    .profileText {
        height: 20px;
        margin: 1% 0%;
    }
    .bold {
        font-weight: bold;
    }
    .questionLabel {
        margin-top: 10%;
    }
    .radioInline {
        width: 20%;
        float: left;
        text-align: center;
        margin: 1% 0;
    }
    .button {
        text-align: center;
        margin-top: 12%
    }
    .profileButtons {
        background: none;
        border: none;
        font-weight: bold;
        text-decoration: underline;
        text-align: left;
        padding-left: 0;
        padding-down: 0;
    }
    .description {
        margin: 1vw 0;;
    }
    #editDescription {
        width: 98%;
        height: 150px;
        resize: none;
    }
    #editLocation {
        margin: 0;
    }
    
}
